/* #NavBar{
    height: 25vh;
    width: 100%;
    background-color: #A4BB94;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
} */
/* #logo{
    width: 20%;
    height: 100%;
    position: relative;
    top:20px;
    background-color: aqua;
    background-image: url(crepe2.png);
    background-position: center;
    background-size: cover;
} */

.NavContent{
    background-color: #FAC59F;
    /* background-color:rgb(255, 251, 251); */
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
}

#title{
    background-color: #F3AF88;
    width: 100%;
    height:10h;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    font-weight: 600;
    letter-spacing: .1em;
    font-family: 'Oleo Script Swash Caps', cursive;
}

#NavItems{
    display: flex;
    /* background-color:rgb(204, 55, 55); */
    height: 40%;
    width: 45%;
    margin-left: 220px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    font-weight: 500;
  font-family: 'Oleo Script Swash Caps', cursive;
}

li{
    list-style-type: none;
    cursor: pointer;
}

li:hover{
    color: white;
    transition: 1.5s;
}
.Aide{
    cursor: pointer;
}